@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: museo_sans500, arial, "Times New Roman", serif;
}

.museo300 {
  font-family: museo_sans300, arial, "Times New Roman", serif;
}

.museo500 {
  font-family: museo_sans500, arial, "Times New Roman", serif;
}

.museo700 {
  font-family: museo_sans700, arial, "Times New Roman", serif;
}

.museo900 {
  font-family: museo_sans900, arial, "Times New Roman", serif;
}

body, html {
  margin: 0;
  padding: 0;
  border: 0;
  min-height: 100%;
  height: 100%;
}

menu, ol, ul {
  padding: 0;
}

dd {
  margin: 0;
}

textarea:focus, input:focus {
  outline: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  font-family: inherit;
  padding: 0;
  margin: 0;
}

/* Scroll bar stylings */
::-webkit-scrollbar {
  width: 5px;
  height: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--lightestgrey);
}

/* Handle */
::-webkit-scrollbar-thumb {
  display: none;
  border-radius: 5px;
}


/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
